<% 
    const collection = 'group';
    const linkPrefix = systemConfig.prefixAdmin + `/${collection}`;
%>
 
<% if (data.err) { %>  
    <div class="alert alert-danger" role="alert">
        <span class="close-btn">&times;</span> 
       <%= data.err %>
    </div>
 <% } %>
<div class="row">
    <div class="col-lg-6">
    
        <div class="panel panel-default">
            <div class="panel-heading">
                Form Group
            </div>
            <div class="panel-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" action="<%= linkPrefix %>/save" method="POST">
                            
                            <div class="form-group">
                                <label>Name</label>
                                <select name="name" class="form-control" >
                                        <!-- <option value="Novalue">Choose Position</option> -->
                                        <option value='Admin'  <%= (data.name == 'Admin') ? selected='selected' : '' %> >Admin</option>
                                        <option value='User'  <%= (data.name == 'User') ? selected='selected' : '' %> >User</option>
                                        <option value='Guest'  <%= (data.name == 'Guest') ? selected='selected' : '' %> >Guest</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select name="role" class="form-control" >
                                        <!-- <option value="Novalue">Choose Position</option> -->
                                        <option value='Full'  <%= (data.role == 'Full') ? selected='selected' : '' %> >Full</option>
                                        <option value='Limit'  <%= (data.role == 'Limit') ? selected='selected' : '' %> >Limit</option> 
                                </select>
                            </div>
                                
                            <div>
                                <input class="form-control" name="id" value="<%= data.id %>" type="hidden"  >
                                <button type="submit" class="btn btn-primary">Submit </button>
                                <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Cancel</a>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 