
<div class="header-inner">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-1 col-md-3 col-12">
                    <div class="logo">
                        <a href="/"></a>
                        
                    </div>

                </div>
                <div class="mobile-nav"></div>
                <div class="col-lg-11 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                    <nav class="navigation">
                        <ul class="nav menu">
                            <!-- <i class="icofont-home"  style="font-size: 35px; color: blue;"></i>                              -->
                            <li><a href="/"></i> TRANG CHỦ </i> </a></li>
                            <li><a href="/gioi-thieu"></i>GIỚI THIỆU </a></li>                            
                            <li> <a href="">TIN TỨC-SỰ KIỆN<i class="icofont-rounded-down"></i></a>
                                <ul class="dropdown">                                        
                                    <% for(let i =0 ; i< chuyenmucMenu.length ; i++) { %>
                                        <!-- <li><a href="/<%= chuyenmucMenu[i].slug %>/<%= chuyenmucMenu[i].id %> " ><%= chuyenmucMenu[i].name %></a></li> -->
                                        <!-- <li><a href="/chuyenmuc/<%= chuyenmucMenu[i].id %> " ><%= chuyenmucMenu[i].name %></a></li> -->
                                        <li><a href="/tin-tuc-tong-hop" ><%= chuyenmucMenu[i].name %></a></li>
                                    <% } %>                                      
                                </ul>
                            </li>   
                            
                            <li> <a href="/">ĐIỀU HÀNH CÔNG TÁC<i class="icofont-rounded-down"></i></a>
                                <ul class="dropdown">                                        
                                    <li><a href="#" target="blank">
                                        Lịch công tác lãnh đạo
                                        </a>
                                    </li>
                                    <li><a href="/thong-bao-moi-hop" target="blank">
                                        Thông báo mời họp
                                        </a>
                                    </li>                                    
                                    <li><a href="/phuong-thuc-van-hanh" target="blank">
                                        Phương thức vận hành
                                        </a>
                                    </li>                                    
                                    <li><a href="/lich-dieu-dong-xe" target="blank">
                                        Điều động phương tiện
                                        </a>
                                    </li>                                    
                                </ul>
                            </li>   

                            <li> <a href="/">CHUYỂN ĐỐI SỐ<i class="icofont-rounded-down"></i></a>
                                <ul class="dropdown">                                        
                                    <li><a href="https://chuyendoisodoanhnghiep.info" target="blank">
                                        CDS trong doang nghiệp
                                        </a>
                                    </li>                                    
                                </ul>
                            </li>   

                        
                            
                            <li><a href="#">ĐIỆN MẶT TRỜI <i class="icofont-rounded-down"></i></a>
                                <ul class="dropdown"> 
                                    <li><a href="https://cskh.cpc.vn/frm_NLTT.aspx" target="blank">
                                        Điện mặt trời trên mái nhà
                                        </a>
                                    </li>   
                                    <li><a href="https://cskh.cpc.vn/frm_NLTT_VBPL" target="blank">
                                        Văn bản pháp lý
                                        </a>
                                    </li>  
                                </ul> 
                            </li>
                            <li><a href="https://cskh.cpc.vn/frm_Lienhe.aspx"  target="blank">LIÊN HỆ</a>
                            </li>
                            
                            
                        </ul>
                    </nav>
                </div>
                <!--/ End Main Menu -->
                </div>
            </div>         
        </div>
    </div>
</div>
