<%- include('./../../helpers/selectbox') %>
<%- include('./../../helpers/image') %>
<% 
    const collection = 'user';
    const linkPrefix = systemConfig.prefixAdmin + `/${collection}`;
    const folderUpload = 'uploads' + `/${collection}/`;
    const link_no_avatar = folderUpload +'no_avatar.png' ; 
%>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <!--  neeus cos loix thi mow show ra -->
            <% if (notify.err) { %>  
                <div class="alert alert-danger role="alert"  >
                    <span class="close-btn">&times;</span> 
                   <%= notify.err %>
                </div>
             <% } %>
             <!--  -->
            <div class="panel-heading">
                Form 
            </div>
            <div class="panel-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" action="<%= linkPrefix %>/save" method="POST" enctype="multipart/form-data"> 
                                
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" value="<%= data.name %>" >
                            </div> 

                            <div class="form-group">
                                <label>Full Name </label>
                                <input class="form-control"  type="text" name="fullname" value="<%= data.fullname %>" >
                            </div>

                            <div class="form-group">
                                <label>Email </label>
                                <input class="form-control"  type="email" name="email" value="<%= data.email %>" >
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control"  type="text" name="pass" value="<%= data.pass %>" >
                            </div>    

                         
                            <div class="form-group" >
                                <label>Groups</label>
                                <select class="form-control"  name="group_id"   >
                                    <%- selectboxHelper(dataGroup , data.group_id) %>                                          
                                </select>
                            </div>

                            <div class="form-group">
                                <label> File upload</label>
                                <input class="form-control" type="file" name="fileUpload"   >
                            </div>
                            <% if( data.name !==''  ) { %>
                                <div>
                                    <td style="text-align:center;" >
                                        <%- imageHelper(folderUpload, data.fileUpload, 'style="width: 80px; margin:auto"') %> 
                                     </td>    
                                </div>
                            <% } else { %>
                                <div class="form-group">
                                    <td style="text-align:center; width:50px; margin: auto" >
                                        <img src="<%= link_no_avatar %>" style="width: 80px; margin: auto">  
                                    </td>
                                </div>
                            <% } %>
                        
                            </br>                            

                            <div>
                                <input class="form-control" type="hidden" name="id" value="<%= data.id %>"   >
                                <input class="form-control" type="hidden" name="group_name" value="<%= data.group_name %>"  >
                                <input class="form-control"  type="hidden" name="image_old" value="<%= data.fileUpload %>"  />  
                                <button type="submit" class="btn btn-primary">Submit </button>
                                <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Cancel</a>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 